body,
html {
	width: 100%;
	height: 100%;
}

.site-wrapper {
	background-color: #fff;
}

.nowrap {
	white-space: nowrap;
}

.overflow-hidden {
	overflow: hidden;
}

// Suppress focus ring for mouse users.
[data-whatinput="mouse"],
[data-whatinput="touch"] {

	a:focus,
	button:focus {
		outline: none;
	}
}
