/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

// Media alignment
.alignnone {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
	height: auto;
}

.aligncenter {
	display: block;
	height: auto;

	@include -zf-breakpoint-value(auto, $grid-padding-gutters) {
		margin: ( rem-calc($-zf-bp-value) / 2 ) auto;
	}
}

.alignleft,
.alignright {
	height: auto;

	@include -zf-breakpoint-value(auto, $grid-padding-gutters) {
		margin-bottom: ( rem-calc($-zf-bp-value) / 2 );
	}
}

@include breakpoint(medium) {

	.alignleft {
		float: left;

		@include -zf-breakpoint-value(medium, $grid-padding-gutters) {
			margin-right: ( rem-calc($-zf-bp-value) / 2 );
		}
	}

	.alignright {
		float: right;

		@include -zf-breakpoint-value( medium, $grid-padding-gutters ) {
			margin-left: ( rem-calc($-zf-bp-value) / 2 );
		}
	}
}

// Captions
.wp-caption {
	background: rgba($light-gray, 0.5);

	img {
		border: 0 none;
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;
	}

	&-text {
		font-size: 12px;
		font-weight: 400;
		font-style: italic;
		padding: 2px 6px 4px;
	}
}

// Text meant only for screen readers
.screen-reader-text {

	@extend .show-on-focus;
}

// Make sure that the WP admin-bar does not overlap Foundation components
body.admin-bar {

	// Offset sticky top bar
	&.f-topbar-fixed {

		.sticky.fixed {
			margin-top: rem-calc(32);
		}
	}

	// Offset mobile off-canvas menu
	&.offcanvas {

		.off-canvas.is-open {
			top: rem-calc(46);

			@include breakpoint(783) {
				top: rem-calc(32);
			}
		}
	}
}
