.page-index {

	&__container {

		@include xy-grid-container;
	}

	&__grid {

		@include xy-grid;
	}

	&__main {

		@include xy-cell();

		@include breakpoint(medium) {

			@include xy-cell(8);
		}
	}

	&__sidebar {

		@include xy-cell();

		@include breakpoint(medium) {

			@include xy-cell(4);
		}
	}
}
