.pagination {
	margin-bottom: 0;
	margin-top: 80px;

	a,
	button {
		display: inline-block;

		&:hover,
		&:focus {
			background: none;
		}
	}

	.current {
		background: transparent;
		color: $primary-color;
		font-weight: $bold;
	}

	@include breakpoint(medium) {

		.prev {
			margin-right: 30px;
		}

		.next {
			margin-left: 30px;
		}
	}
}
