$icon-size: 34px;
$icon-padding: 6px;
$icon-border: 2px;

.social-menu {
	list-style: none;
	margin: 0;
	height: $icon-size;

	@include breakpoint(medium) {
		text-align: left;
	}

	.menu-item {
		display: inline-block;
		height: $icon-size;
		width: $icon-size;
		margin: 0;
		margin-right: $icon-size / 6;

		@include breakpoint(large) {
			margin-right: $icon-size / 3;
		}

		&:last-child {

			@include breakpoint(medium) {
				margin-right: 0;
			}
		}
	}

	.icon {
		height: $icon-size - ( $icon-padding * 2 ) - ( $icon-border * 2 );
		width: $icon-size - ( $icon-padding * 2 ) - ( $icon-border * 2 );
		vertical-align: top;
		display: inline-block;
		fill: currentColor;
		position: relative;
		transition: 0.3s fill;

		path {
			transition: 0.3s fill;
		}
	}

	a {
		display: inline-block;
		margin: 0;
		text-align: center;
		width: $icon-size;
		height: $icon-size;
		padding: $icon-padding;
		border: $icon-border solid $primary-color;
		border-radius: $icon-size / 2;
		color: $primary-color;

		&:hover,
		&:focus {
			color: $secondary-color;
			border-color: $secondary-color;
		}
	}
}
