@mixin empty-pseudo( $ps: after ) {

	&:#{$ps} {
		content: "";
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		left: 0;
		display: block;
	}
}

@mixin clearfix {

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin thumb-bg( $size: cover, $position: center, $repeat: no-repeat ) {
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}

@mixin responsive-shape( $width: 100%, $ratio: 100%, $content-padding: 0 ) {
	position: relative;
	width: $width;

	&::after {
		content: "";
		display: block;
		padding-bottom: $ratio;
	}
}

@mixin vertically-center() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin optional-at-root($sel) {

	@at-root #{if(not &, $sel, selector-append(&, $sel))} {

		@content;
	}
}

// Use for styling form field placeholders.
@mixin placeholder {

	@include optional-at-root("::-webkit-input-placeholder") {

		/* WebKit browsers */
		@content;
	}

	@include optional-at-root(":-moz-placeholder") {

		/* Mozilla Firefox 4 to 18 */
		@content;
	}

	@include optional-at-root("::-moz-placeholder") {

		/* Mozilla Firefox 19+ */
		@content;
	}

	@include optional-at-root(":-ms-input-placeholder") {

		/* Internet Explorer 10+ */
		@content;
	}
}

// Burger parts
//
// (---) top    -> &::before
// [---] middle -> &
// (---) bottom -> &::after

// Burger
@mixin burger( $width: 30px, $height: 5px, $gutter: 3px, $color: #000, $border-radius: 0, $transition-duration: 0.3s ) {
	$burger-height: $height !global;
	$burger-gutter: $gutter !global;
	position: relative;
	margin-top: $height + $gutter;
	margin-bottom: $height + $gutter;
	user-select: none;

	// 1. Fixes jagged edges in Firefox, see issue #10.
	&,
	&::before,
	&::after {
		display: block;
		width: $width;
		height: $height;
		background-color: $color;
		outline: 1px solid transparent; // 1

		@if $border-radius != 0 {
			border-radius: $border-radius;
		}
		transition-property: background-color, transform;
		transition-duration: $transition-duration;
	}

	&::before,
	&::after {
		position: absolute;
		content: "";
	}

	&::before {
		top: -($height + $gutter);
	}

	&::after {
		top: $height + $gutter;
	}
}


// Select parts of the burger
@mixin burger-parts {

	&,
	&::before,
	&::after {

		@content;
	}
}

@mixin burger-top {

	&::before {

		@content;
	}
}

@mixin burger-middle {

	@content;
}

@mixin burger-bottom {

	&::after {

		@content;
	}
}


// Burger animations
@mixin burger-to-cross( $color: auto ) {
	background-color: transparent;

	@if ( $color != auto ) {

		&::before,
		&::after {
			background-color: $color;
		}
	}

	&::before {
		transform: translateY($burger-gutter + $burger-height) rotate(45deg);
	}

	&::after {
		transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
	}
}

@mixin font-face( $name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg ) {
	$src: null;
	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);
	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}
