// Colors
$foundation-palette: (
	primary: #edac2c,
	secondary: #7db4a3,
	success: #109045,
	warning: #edac2c,
	alert: #dc5c3a,
);

// Colors
$black: #2d2c2f;
$light-gray: lighten($black, 50%);
$dark-gray: lighten($black, 25%);

// Fonts and text styles
$mono: consolas, "Liberation Mono", courier, monospace;
$sans: "Helvetica Neue", helvetica, "Roboto", arial, sans-serif;
$bold: 700;

$header-font-family: $sans;
$font-family-monospace: $mono;
